.header{
    background-color:rgb(199, 41, 41);
}
.appName{
    background-color:white;
    font-size:2rem;
    font-weight: 900;
}
.appMenuItem{
    list-style-type: none;

}
.ant-drawer-title{
    font-weight: 900;
    color:rgb(199, 41, 41);
    font-size: 1.5rem
}